/* src/components/Footer.css */
.footer {
    background-color: #0d56c1;
    background-image: linear-gradient(45deg, #0d56c1 0%, #12c0d4 100%);
    
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .social-links a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
  }
  
  .social-links a:hover {
    text-decoration: underline;
  }
  