/* src/components/HeroSection.css */
.hero-section {
    background-image: url('https://images.unsplash.com/photo-1501594907352-04cda38ebc29?q=80&w=1032&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    color: white;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:monospace;
    font-size: x-large;
  }
  
  .hero-content {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 15px;
  }
  